@import url('https://fonts.googleapis.com/css2?family=Krona+Onedisplay=Montserrat:ital,wght@0,100..900;1;100..900&display=swap');

:root {
    --color-primario: #E6B2BA;
    --color-secundario: #000000;
    --color-terciario: #F4CCE9;
    --color-hover: #272727;

    --fuente-Montserrat: 'Montserrat', sans-serif;
    --fuente-Krona: 'Krona One', sans-serif;
}

* {
    padding : 0;
    margin : 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;

}

.header__menu{
    display: flex;
    gap: 80px;

}

.header__menu__link{
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion{
    margin: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-family: var(--fuente-Krona);
    font-size: 2.25rem;

}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-Montserrat);

}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}


.presentacion__enlances__link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--color-terciario);
    gap: 10px;


}
.presentacion__enlances__link:hover{
    background-color: var(--color-hover);
    
}
    
.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-secundario);
    text-align: center;
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--color-secundario);
}